In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import math 

import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
%%time
# Import xlsx file and store each sheet in to a df list
xl_file = pd.ExcelFile('./AU_cases.xlsx',)

dfs = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}

# Data from each sheet can be accessed via key
keyList = list(dfs.keys())

CPU times: user 177 ms, sys: 10.4 ms, total: 187 ms
Wall time: 194 ms

In [4]:
dfs[keyList[0]]

,Case Number Country-wide,Case Number State-wide,Confirmed Date,City,State,Origin,Date entering AU/NZ,Gender,Age,Recovered Date,Notes,News Reference
0,1,1st,2020-01-25,Melbourne,VIC,NaN,NaT,Male,50s,NaN,A Chinese national visiting Melbourne from Wuh...,https://www.theage.com.au/national/victoria/co...
1,2,1st,2020-01-25,Sydney,NSW,NaN,2020-01-16,Male,30s,2020-01-30 00:00:00,"Flew from Shenzhen, China",https://www.hawkesburygazette.com.au/story/660...
2,3,2nd,2020-01-25,Sydney,NSW,NaN,NaT,Male,40s,2020-01-30 00:00:00,"Flew from Wuhan, China",https://www.hawkesburygazette.com.au/story/660...
3,4,3rd,2020-01-25,Sydney,NSW,NaN,NaT,Male,50s,2020-02-27 00:00:00,"Flew from Wuhan, China",NaN
4,5,4th,2020-01-27,Sydney,NSW,NaN,2020-01-24,Female,20s,2020-02-10 00:00:00,The woman (UNSW student) flew into Sydney Airp...,https://7news.com.au/news/health/coronavirus-i...
...,...,...,...,...,...,...,...,...,...,...,...,...
87,88,13th,2020-03-09,Melbourne,VIC,NaN,NaT,Male,50s,NaN,A male who was on the same flight from the USA...,NaN
88,89,14th,2020-03-09,Melbourne,VIC,NaN,2020-03-06,Female,20s,NaN,A female returned from Colorado in the USA on ...,NaN
89,90,15th,2020-03-09,Melbourne,VIC,NaN,2020-03-06,Female,50s,NaN,A female returned from Tehran on flight MH0149.,NaN
90,91,5th,2020-03-09,Perth,WA,human-to-human transmission,NaT,Female,60s,NaN,A woman is believed to have contracted the vir...,https://www.abc.net.au/news/2020-03-09/fifth-c...
91,92,6th,2020-03-09,Perth,WA,human-to-human transmission,NaT,Male,40s,NaN,The latest patient is the son of a woman who r...,https://7news.com.au/lifestyle/health-wellbein...